@model Nidhinanban.Models.InterestModel

@if (Model.showdiv)
{
    
    <div class="card col-sm-8 col-md-8 col-lg-8 my-2 mx-auto  border border-10 shadow p-3">
        <h3 class="mx-5 mt-3 pill">Interest Calculation Results</h3>

        <div class="container my-4">
            <div class="row">
                <div class="col-sm-12 col-lg-3 mt-2 mx-auto card bg-card-primary">
                    <div class="row my-2">
                        <h4 class="text-center text-primary fw-bold">@Model.intrestamount</h4>
                    </div>
                    <p class="text-secondary text-center">Interest Amount</p>
                </div>

                <div class="col-sm-12 col-lg-3 mt-2 mx-auto card bg-card-success">
                    <div class="row my-2">
                        <h4 class="text-success text-center fw-bold">@Model.principleamountstring</h4>
                    </div>
                    <p class="text-secondary text-center">Principal Amount</p>
                </div>

                <div class="col-sm-12 col-lg-3 mt-2 mx-auto card bg-card-purple">
                    <div class="row my-2">
                        <h4 class="text-purple text-center fw-bold">@Model.totalamount</h4>
                    </div>
                    <p class="text-secondary text-center">Final Amount</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5 card rounded col-lg-8 mx-auto border border-10 shadow p-3 table-responsive">
        <div class="d-flex justify-content-end flex-grow-1">
            
                <form asp-controller="Intrest" asp-action="ExportExcel" method="get">
                            <button type="submit" class="btn" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Export To Excel">
                                <img width="45" height="45" src="https://img.icons8.com/fluency/144/microsoft-excel-2019.png" alt="Export to Excel" />
                            </button>
                </form>

        </div>


        <table id="interestTable" class="display table table-hover">
            <thead>
                <tr>
                    <th>Sno</th>
                    <th>Week</th>
                    <th>Interest Rate</th>
                    <th>Interest Amount</th>
                    <th>Payable Amount</th>
                    <th>Total Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach(System.Data.DataRow row in Model.dt.Rows)
                {
                    <tr>
                        @foreach(var items in row.ItemArray)
                        {
                            <td>@items</td>
                        }
                    </tr>
                }
                
            </tbody>
        </table>
    </div>
    <script>
       
       $('dcoument').ready(function(){$('#interestTable').DataTable();})
      if (typeof tooltipList === 'undefined') {
                const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
                const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
        }

    </script>
}
