@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-center">Welcome To Nidhinanban</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-6 col-10 my-3">
                <div class="card border border-10 shadow-sm h-100">
                    <img width="90" height="90" src="https://img.icons8.com/fluency/144/accounting.png" alt="accounting" class="mx-auto my-4"/>
                    <h4 class="my-3">Interest Calculator</h4>
                    <h6 class="text-secondary">Calculate The Interest and Its Table</h6>
                    <button class="btn btn-outline-light text-black w-75 mx-auto border my-4">Open Calculator</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-10 my-3">
                <div class="card border border-10 shadow-sm h-100">
                    <img width="90" height="90" src="https://img.icons8.com/fluency/144/gender-neutral-user--v1.png" alt="gender-neutral-user--v1" class="mx-auto my-4"/>
                    <h4 class="my-3">Customer</h4>
                    <h6 class="text-secondary">Manage Customer With Aadhar Verification</h6>
                    <button class="btn btn-outline-light text-black w-75 mx-auto border my-4">Open Calculator</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-10 my-3">
                <div class="card border border-10 shadow-sm h-100">
                    <img width="90" height="90" src="https://img.icons8.com/fluency/144/high-importance.png" alt="high-importance" class="mx-auto my-4"/>
                    <h4 class="my-3">Late Payment Fines</h4>
                    <p class="text-secondary text-center">Calculate penalites for overdue payments</p>
                    <button class="btn btn-outline-light text-black w-75 mx-auto border my-4">Open Calculator</button>
                </div>
            </div>
        </div>
    </div>
</div>
