@model  ViewIntresetModel
@{
    ViewData["Title"]="Intrest";
}

<div>
    <div class="container-fluid">
        <form asp-action="ViewIntreset" method="post">
        <div class=" text-center card  mx-auto  col-lg-5 col-md-6 col-sm-10  ">
        <div class="card-header">
            <h2 class="title"> View Interest</h2>
        </div>
        <div class="card-body">

                <div class="my-2">
                    <label class="my-2"> Principle Amount</label>

                    <input type="number" asp-for=amount class="form-control" name="amount" id="amount"
                        placeholder="Enter The Amount" />
                </div>
                 <div class="my-2">
                    <label class="my-2"> Intrest</label>

                    <input type="number" asp-for=interestrate class="form-control" name="intrest" id="intrest"
                        placeholder="Enter The Intrest Rate" />
                </div>
                 <div class="my-2">
                    <label class="my-2"> Number Of Years</label>

                    <input type="number" asp-asp-for=year class="form-control" name="year" id="year"
                        placeholder="Enter The Total Number of Years" />
                </div>
                 <div class="my-2">
                    <label class="my-2"> Months</label>

                    <input type="text" asp-for=month class="form-control" name="amount" id="amount"
                        placeholder="Enter The Total Number Of Months" />
                </div>

                <div class="my-2">
                    <label class="my-2"> Intrest Amount</label>

                    <input type="number" asp-for=interestamount class="form-control" name="intresetamount" id="intrestamount"
                        placeholder="" readonly />
                </div>

                <div class="my-2">
                    <label class="my-2"> Total Amount</label>

                    <input type="number" asp-for=totalamount class="form-control" name="totalamount" id="totalamount"
                        placeholder="" readonly />
                </div>
                <div class="my-2">
                   <button class="btn btn-success" id="calculate" value="Calculate" width="200"> Calculate</button>
                </div>
            </div>
            
        </div>
        </form>
        <div class="col-lg-3 my-5">
            <table>
                <thead>Demo</thead>
                <tr>
                    <td>Hello World</td>
                </tr>
                <tr>
                    <td>Hello WOrld1</td>
                </tr>
            </table>
        </div>
    </div>
    
    </div>
    
</div>
