html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.bg-card-primary{
  background-color: #EFF6FF;
  border: none;
}
.bg-card-success{
  border: none;
  background-color: #F0FDF4;
}

.bg-card-purple{
  background-color: #FAF5FF;
  border: none;
}
.text-purple{
  color:#9333EA;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-outline-purple:hover,:focus{
  background-color: #9333EA;
  color: #ffffff;
  
  transition: ease-in-out 100ms;
}

.bnt-gradient-primary:hover{
  background-color: #28AEE8;
  color: whitesmoke;
  transition: ease-in-out 1s;
}
